<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />

<style type="text/css">
  * {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
  }
</style>
